/**
 * font-size調整
 */
html {
  font-size: 62.5%; /*ベースを10pxにしています*/
}
body {
  font-size: 1.6rem; /*16px*/
}


.card {
  padding: 1rem;
  .menu-icon {
    font-size: 4rem;
    text-align: center;
    padding: .5rem 0 0;
  }
  
  .menu-title {
    font-size: 1rem;
    text-align: center;
    padding: .5rem 0 1rem;
  }
}

.search-area {

}